
<%= link_to "Articles", articles_path %>

<% @articles.each do |arti| %>

    <h2>
        <%# Usando links %>
        <%= link_to arti.title, arti %>
    </h2>

    <p>

    <%= arti.body %>


    </p>

    

<%end%>