<% @articles.each do |arti| %>
    <div class="jumbotron color-b">
        <h2 class="text-center">
            <%# Usando links %>
            <%= link_to arti.title, arti %>
        </h2>

        <p class="text-center"><%= arti.body %></p>
    </div>
<%end%>